.box-topic {
    background-color: lightgrey;
    margin-bottom: 20px;
}

.profile-topic {
    border-top: 1px solid darkgrey;
}

.content-topic {
    border-top: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    text-align: justify;
    padding: 20px;
}

.time-topic {
    border-top: 1px solid darkgrey;
    text-align: right;
}